/* Wikipedia colors for links */
a {
    color: #0645AD;
    text-decoration:none;
}
a:visited {
    color: #0B0080;
    text-decoration:none;
}

h1 {
}

h2 {
    margin:0px;
}

h3 {
}

h4 {
    color:#CC7A34;
}

table {
}

td {
}

body {
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:10pt;
}

.backlink {
    background-color:#155ABB;
    padding:5px;
    width:84%;
    margin:auto;
}

.picbox {
    overflow:hidden;
}

.contactbox {
    margin:10px;
}

.contacttd {
    padding:3px;
}

.detailsbox {
    margin:10px;
}

.detailstable {
    width:100%;
    border:3px ridge lightgrey;
    border-collapse:collapse;
}

.detailstr {
    border:3px ridge lightgrey;
    border-collapse:collapse;
}

.detailstable2 {
    width:100%;
    border-collapse:collapse;
}

.detailsth {
    color:#35618B;
    background-color:#AFD1F3;
    text-align:left;
    border:3px solid white;
}

.detailstd {
    background-color:#D7EAF3;
    text-align:left;
    border:3px solid white;
}

.blueheader {
    color:#FFFFFF;
    background-color:#659ACF;
    text-align:left;
    border:3px ridge lightgrey;
    border-collapse:collapse;
    padding-left:20px;
}

.urlbox {
    margin:10px;
    border:1px solid black;
}

.musicbox {
    display:table;
    margin:10px;
    border:1px solid black;
    background-image:linear-gradient(white, lightgrey);
}

.playbutton {
    display:table-cell;
    vertical-align:middle;
    padding:2px;
}

.trackinfo {
    display:table-cell;
    margin:auto;
    width:100%;
    border:1px;
}

.trackname {
    color:#FFFFFF;
    background-color:#323230;
    font-weight:bold;
    padding:5px 5px 5px 7px;
    margin: 3px;
    border-radius:5px;
}

.musiclinks {
    text-decoration:none;
    color:#000000;
    background-color:#FFFFFF;
    padding:0px 5px 0px 7px;
    margin:0px 3px 4px 2px;
    border:1px solid black;
    border-radius:5px;
}

.extnetworkbox {
    border:2px solid black;
    text-align:center;
    padding:15px;
}

.orangediv {
    color:#DF6F1E;
    background-color:#FFCC95;
    font-weight:bold;
}

.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #FF0000; }
    20%{    color: #FF8000; }
    40%{    color: #FFFF00; }
    60%{    color: #40FF00; }
    80%{    color: #00FFFF; }
    100%{   color: #BF00FF; }
}

.friendtd {
    text-align:center;
    padding:0px 15px 0px 15px;
}
