/* Wikipedia colors for links */
a {
    color: #0645AD;
}
a:visited {
    color: #0B0080;
}

h1 {
	text-align: center;
	padding: 0 35 0 0;
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 12pt;
	font-weight: normal;
	margin: 5 5 5 5;
}

h3 {
	border-bottom-style: solid;
	border-bottom-color: #afafaf;
	border-bottom-width: 1px;
}

table {
	/*border: 1px solid black;*/
}

td {
	vertical-align: top;
	/*border: 1px solid black;*/
}

.img_h {
    width: 300px;
}

.img_v {
    height: 300px;
}

.mainHeading {
	padding: 0;
}

.backLink {
	float: left;
}

.project {
	margin: 10px 0px;
}

.subProject {
	margin: 10px 10px;
}

/* 2 column setup */
.twoColumn {
  border-collapse: separate;
  border-spacing: 5px 5px;
  height: 100%;
}
.leftColumn {
	width: 15%;
	text-align: left;
	padding: 5px;
	background-color: #f6f6f6;
	/*margin-right: 25px;*/
}
.rightColumn {
	width: 85%;
	text-align: left;
	padding: 10px;
	/*background-color: #f6f6f6;*/
}

.center-image
{
    margin: 0 auto;
    display: block;
}

/* Album styles */

.staticrypt-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    box-sizing: border-box;
}

.staticrypt-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    
}

.staticrypt-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.staticrypt-form .staticrypt-decrypt-button {
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
