h1 {
	text-align: center;
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 12pt;
	font-weight: normal;
	margin: 5 5 5 40;
}

.backLink {
	float: left;
}

.project {
	margin: 10px 0px;
}

.subProject {
	margin: 10px 10px;
}

.art {
	width: 100px;
}
